@charset "utf-8";
img {
    display: block;
    height: auto;
    max-width: 100%;
}
.col-8 {
    background-color: grey;
}
nav{
    background-color:#0101DF;
}
nav a{
    color:black;
}
header{
    background-color:#8904B1;
}
.Name{
    color:#E125DD;
}
footer{
    background-color:#6A0888;
    color:#E125DD;
}
table {
    border: 2px solid black;
    width:80%;
    height: 23vw;
    max-width: 500px;
    max-height: 350px;
    margin-left: 6vw;
}
th {
    border: 2px outset black;
}
td {
    border: 2px outset black;
}

tr{
    background-color: slategrey;
    font-size:15px;
}
.WEB{
    color: greenyellow;
}
.SITE{
    color: skyblue;}